<h2><%= @cuisine.name %></h2>

<% if flash[:notice] %>
  <div class="alert alert-success">
    <%= flash[:notice] %>
  </div>
<% end %>

<% if @recipes.any? %>
  <% @recipes.each do |recipe| %>
    <li><%= link_to recipe.title, recipe %></li>
  <% end %>
<% else %>
  <div class="alert alert-secondary">
    <%= flash[:failure] %>
  </div>
<% end %>