<hr>

<h3>Administrador</h3>
<p>Ações:
  <ul>
    <li><%= link_to 'Criar tipo de receita', new_recipe_type_path %></li>
    <li><%= link_to 'Criar cozinha', new_cuisine_path %></li>
  </ul>
</p>

<hr>