<h2>Minhas listas de receita</h2>
<p>
  <%= link_to 'Criar nova lista', new_recipe_list_path %>
</p>

<% if @recipe_lists.any? %>
  <% @recipe_lists.each do |recipe_list| %>
  <ul>
    <li><%= link_to recipe_list.title, recipe_list %></li>
  </ul>
  <% end %>
<% else %>
  <%= flash[:failure] %>
<% end %>