<h2>Receitas pendentes</h2>
<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>

<% if @recipes.any? %>
  <% @recipes.each do |recipe| %>
    <li><%= link_to recipe.title, recipe %></li>
  <% end %>
<% else %>
  <%= flash[:failure] %>
<% end %>